.btn,
.btn-large {
    color: $color-font-btn;
    background-color: $color-primary;
    text-align: center;
}

.btn:focus,
.btn-large:focus,
.btn-floating:focus {
    background-color: $color-primary-focus;
}

.btn:hover,
.btn-large:hover {
    background-color: $color-primary-hover;
}

.side-nav a.btn:hover,
.side-nav a.btn-large:hover,
.side-nav a.btn-large:hover {
    background-color: $color-primary-hover;
}

.option-red.btn,
.option-red.btn-large {
    color: $color-font-btn;
    background-color: $color-secondary;
    text-align: center;
}

.option-red.btn:focus,
.option-red.btn-large:focus,
.option-red.btn-floating:focus {
    background-color: $color-secondary-focus;
}

.option-red.btn:hover,
.option-red.btn-large:hover {
    background-color: $color-secondary-hover;
}

.side-nav a.option-red.btn:hover,
.side-nav a.option-red.btn-large:hover,
.side-nav a.option-red.btn-large:hover {
    background-color: $color-secondary-hover;
}

.btn-floating i#menu {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: $color-font-btn;
    font-size: 1.6rem;
    line-height: 40px;
}

.btn-floating {
    background-color: $color-primary;
}

.btn:focus, .btn-large:focus, .btn-large:focus, .btn-floating:focus {
    background-color: $color-primary-focus;
}
.btn-floating:hover {
    background-color: $color-primary-hover;
}

#btn-articles {
    padding: 0px 10px 0px 10px;
}