td.img-shopping {
    img {
        max-height: 150px;
    }
}

strong#total {
    font-weight: 600;
}

strong#price {
    font-weight: 600;
}

th.cart {
    text-align: center;
}

td.cart {
    text-align: center;
}