#gmap-styled {
    height: 500px !important;
    width: 100%;
    min-height: 100%;
    max-height: none;
}

#map {
    padding: 0;
}

.row#main_content {
    margin-bottom: 0px;
}

div#container_contact {
    width: 100%;
    max-width: 1440px;
}

.row#row_image_contact {
    position: relative;
    background-image: url(../images/parallax/Contact_Page1440.jpg);
    width: 100%;
    height: 768px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    span.border {
        background-color: #111;
        color: #fff;
        padding: 18px;
        font-size: calc(1.5vw + 1.5vh + 0.5vmin);
        letter-spacing: 1px;
        text-transform: uppercase;
        left: 0;
        position: absolute;
        text-align: center;
        top: 55%;
        width: 100%;
    }
}

@media (max-width: 425px) and (min-width:320px) {
    div#container_contact #form-contact {
        margin-bottom: 0px;
    }
    .row#row_image_contact,
    #row_map_contact {
        margin-bottom: 0px;
    }
    #gmap-styled {
        height: 300px !important;
    }
}

@media (max-width: 768px) and (min-width:426px) {
    div#container_contact #form-contact {
        margin-bottom: 0px;
    }
    .row#row_image_contact,
    #row_map_contact {
        margin-bottom: 0px;
    }
    .row#row_image_contact {
        height: 400px !important;
    }
}

@media (min-width:1024px) {
    div#container_contact #form-contact {
        margin-bottom: 0px;
    }
    .row#row_image_contact,
    #row_map_contact {
        margin-bottom: 0px;
    }
    .row#row_image_contact {
        height: 500px !important;
    }
}

@media (min-width:1440px) {
    .row#row_image_contact {
        height: 768px !important;
    }
}

// Side contact - social
div#side-content {
    margin-top: 0px;
    #row_side-content {
        margin-bottom: 0px;
    }
}