#image_contact {
    padding: 0;
    margin-bottom: 0px;
}

.row#main_content {
    margin-bottom: 0px;
}

#now_row {
    margin-bottom: 0px;
}

div#container_contact {
    width: 100%;
    max-width: 1440px;
}

#row_image_contact {
    position: relative;
    background-image: url(../images/parallax/Contact_Page1440.jpg);
    width: 100%;
    height: 0;
    min-height: 100%;
    padding-top: 100vh;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.94;
}

#row_image_contact span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: calc(1.5vw + 1.5vh + 0.5vmin);
    letter-spacing: 1px;
    text-transform: uppercase;
    left: 0;
    position: absolute;
    text-align: center;
    top: 55%;
    width: 100%;
}

@media (max-width: 425px) and (min-width:320px) {
    div#container_contact #form-contact {
        margin-bottom: 0px;
    }
    .row#row_image_contact,
    #row_map_contact {
        margin-bottom: 0px;
    }
}

@media (max-width: 768px) and (min-width:426px) {
    div#container_contact #form-contact {
        margin-bottom: 0px;
    }
    .row#row_image_contact,
    #row_map_contact {
        margin-bottom: 0px;
    }
    .row#row_image_contact {
        height: 768px !important;
    }
}

@media (min-width:1024px) {
    div#container_contact #form-contact {
        margin-bottom: 0px;
    }
    .row#row_image_contact,
    #row_map_contact {
        margin-bottom: 0px;
    }
    .row#row_image_contact {
        height: 768px !important;
    }
}

@media (min-width:1440px) {
    .row#row_image_contact {
        height: 900px !important;
    }
}

// Side contact - social
div#side-content {
    margin-top: 0px;
    #row_side-content {
        margin-bottom: 0px;
    }
}