#main.parallax-container {
    height: 100vh;
}

#main .brand-logo {
    height: 50px;
    width: 180px;
}

#main .parallax {
    background-image: url("../images/parallax/parallax3.jpg");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.94;
}

#title.caption {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #000;
    line-height: 60px;
}

#title.caption span.border {
    background-color: #111;
    //color: #fff;
    padding: 35px 18px 0px 18px;
    //padding: 18px;
    //font-size: calc(1.5vw + 1.5vh + 0.5vmin);
    //letter-spacing: 1px;
    //text-transform: uppercase;
}

@media only screen and (max-width: 426px) {
    #title.caption span.border {
        padding: 34px 18px 0px 18px;
    }
    #articles.caption {
        a {
            display: block;
            height: auto;
            margin: 0px 20px;
            font-size: 15px;
            padding: 0;
        }
    }
    #main .parallax {
        background-attachment: 0;
        background-position: 10%;
    }
}

#articles.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

// #articles.caption span.border {
//     background-color: transparent;
//     color: #fff;
//     padding: 18px;
//     font-size: 18px;
//     letter-spacing: 10px;
// }