.tabs .tab a:hover, .tabs .tab a.active {
    color: $color-primary;
}

.tabs .tab a {
    color: $color-link-tab;
}

.tabs .indicator {
    background-color: $color-primary;
}

.tabs .tab.disabled a, .tabs .tab.disabled a:hover {
    color: $color-link-tab-hover;
    cursor: default;
}