extends ../layouts/default

block content
    .container#container_contact
        .row#main_content
            .col.m8#map
                .row.center-align#row_map_contact
                    #gmap-styled
                .row#row_image_contact
                    img.responsive-img(src='http://fpoimg.com/1024x768?text=Image', alt='')
                    span.border Constancy, dedication and sacrifice.
            
            .col.m4.s12
                .row
                    .col.s12#side-content
                        h5.center-align Social
                        div.row#row_side-content
                            div.col
                                section.social-side.text-center
                                    ul
                                        li
                                            a(href='#')
                                                i.fa-side.fa-facebook
                                        li
                                            a(href='#')
                                                i.fa-side.fa-twitter
                    |                     
                .row
                    .col.s12
                        h5.center-align Contact Form
                        |   
                .row#form-contact
                    form.col.m12.s12
                        .row
                            .input-field.col.s12
                            label(for="name") Name
                            |                         
                            input#name(type="text" placeholder="Name...")
                            |                    
                            .input-field.col.s12
                            label(for="subject") Subject
                            |                     
                            input#subject.form-input(type="text" placeholder="Subject...") 
                            |                         
                            .input-field.col.s12
                            label(for="email") Email
                            |                             
                            input#email.form-input(type="email" placeholder="Email...")
                            |                                          
                            .input-field.col.s12
                            label(for="message") Message
                            |                     
                            textarea#message.materialize-textarea( placeholder= "Message..." )
                        |                     
                        .row
                            .col.m12
                            p.right-align
                                button.btn.waves-effect.waves-light(type="button", name="action") Send Message
                            |                     
                            .divider.top30
                    |                     
                    .row
                        .col.m12
                            h5.left-align Other ways
                            h6 Email
                            h6 Phone