extends ../layouts/default

block content
    div.container.top30
        div.row
            div.col.s12.m9.l9.text-center
                a#content-link(href='#'): h4= data.articles[0].name
                | 
                h5.bot15= data.details[0].name
                div.row.top30
                    div#date-line.col.s12.m12.l12
                        span#date-pub.col.s12.m12.l12: h6.text-center= data.details[0].pub_date
                div.row
                    div.col.s12.m12.l12.text-center
                        img.responsive-img.text-center(src= "../../" + data.details[0].url)
                        p.justify= data.details[0].content
                        img.responsive-img.text-center(src= "../../" + data.details[0].url)
                        p.justify.top15= data.details[0].content
                div.row
                    div.col.s12.m12.l12
                        h5.text-center.right= data.details[0].author
                div#nav-content.row.top30.bot30
                    div.col.s12.m12.l12
                        div#nav-prev.col.s6.m6.l6
                            a#nav-link(href='#')
                                span.meta-nav
                                    i.fa.fa-chevron-left#icon-content(aria-hidden="true")
                                    | Previous article
                                |  Name previous article
                        div#nav-next.col.s6.m6.l6
                            a#nav-link(href='#')
                                span.meta-nav
                                    | Next article
                                    i.fa.fa-chevron-right#icon-content(aria-hidden="true")
                                |  Name next article
                                    
            div#side-content.col.s12.m3.l3.hide-on-small-and-down
                div.row
                    div.col
                        section.social-side.text-center
                            ul
                                li
                                    a(href='#')
                                        i.fa-side.fa-facebook
                                li
                                    a(href='#')
                                        i.fa-side.fa-twitter

            
        