extends ../layouts/default

block content
	div#main-content.container
		div#main.parallax-container
			#title.caption
				span.border= data.title
			#articles.caption
				span.border: a(href='/articles').waves-effect.waves-light.btn view my articles
			.parallax

		div#main-section.container.top80
			h4#title-section.text-center Articles
			div.row.top30.container
				for article in data.articles
					div.col.s12.m6.l3.top15
						h5.text-center= article.name
						div#article.content
							a(href='/articles/details/1'): img.responsive-img.hoverable(src= article.url)
				else
					div.col.s12
						h5.text-center Sorry, there are no articles to show.
			div.row.top20
				div#btn-article.col.s12.text-right
					a.waves-effect.waves-light.btn(href='/articles') More articles

		div#main-section2.container.top80
			h4#title-section.text-center Testimonials
			div.row.top30.container
				for testimon in data.testimonials
					div.row.text-center
						div.col.s4.m2.l2
							img.circle(src= testimon.url)
						div.col.s7.m3.l3
							h5#name-section2.text-left= testimon.name
						div.col.s9.m7.l7.offset-s1.text-center
							div#testimonial.content
								p= testimon.testimonial

				else
					div.col.s12
						h5#name-section2.text-center sorry, no testimonials!

		div#transformations-section.container.top80.bot80
			h4#title-section.text-center Transformations
			div.row.top30.container
				for transformation in data.transformations
					div.col.s12.m6.l4.top10
						div#transformation.content
							img.responsive-img.hoverable.materialboxed(src= transformation.url)
				else
					div.col.s12
						h5.text-center Sorry, there are no transformations to show.
