extends ../layouts/default

block content
	div#main-content.container
		div#main.parallax-container
			#title.caption
				span.border 
					img.brand-logo(src = settings.frontPageLogo.url)
			//- #subtitle.caption
				span.border 
					| Healthy Inspired and Tough
			#articles.caption
				span.border: a(href='/store/get').waves-effect.waves-light.btn Start your transformation
			.parallax

		div#transformations-section.container.top80.bot80
			h4#title-section.text-center Transformations
			div.row.top30.container
				-for (var x=0; x<6; x++)
					div.col.s12.m6.l4.top10
						div#transformation.content
							img.responsive-img.hoverable.materialboxed(src="images/transformations/transformation2.jpg")

		div.row#main-section2
			div#main-section2.container.top80
				h4#title-section.text-center Testimonials
				div.row.top30.container
					-for (var x=0; x<3; x++)
						div.row.text-center
							div.col.s4.m2.l2
								img.circle(src= "images/witnesses/witnesses-1.jpg")
							div.col.s7.m3.l3
								h5#name-section2.text-left Jenna C.
							div.col.s9.m7.l7.offset-s1.text-center
								div#testimonial.content
									p Very good articles, recommended.

		div#main-section.container.top80
			//-- h4#title-section.text-center Recent Series
			div.row.top30.container
				if recent
					each item in recent
						div#main-series.col.s12.m6.l3.top15.bot15.hoverable: a(href='/store/product/get?id='+item.id)
							div#series-title.text-center
								h5#series-title= item.name
							div#series-img
								div#article.content
									img.responsive-img(src= item.images.url)
				else
					div.col.s12.top15
						h5.text-center Sorry, there are no series to show.
			div.row.top20
				div#btn-article.col.s12.text-right
					a.waves-effect.waves-light.btn(href='/store/get') More