extends ../layouts/default

block content
	div.container.top30
		div.row
			p: a(href='/user/purchases'): span.meta-nav &larr; back to purchases
			div.col.s12.m9.l9.text-center
				each cat, cat_i in data.post.categories
					a#content-link(href='/blog/' + cat.key): h4= cat.name
					| 
					h5.bot15= data.post.title
					div.row.top30
						div#date-line.col.s12.m12.l12
							if data.post.publishedDate
								span#date-pub.col.s12.m12.l12: h6.text-center= data.post._.publishedDate.format('MMMM Do, YYYY')
					div.row.bot80
						div.col.s12.m12.l12.text-center
							if data.post.image.exists
								img.responsive-img.text-center(src= data.post._.image.fit(750,450))
								!= data.post.content.full
					div.row
						div.col.s12.m12.l12
							if data.post.author
								h5.text-center.right= data.post.author.name.first
					div#nav-content.row.top30.bot30
						div.col.s12.m12.l12
							div#nav-prev.col.s6.m6.l6
								a#nav-link(href='#')
									span.meta-nav
										i.fa.fa-chevron-left#icon-content(aria-hidden="true")
										| Previous article
									|  Name previous article
							div#nav-next.col.s6.m6.l6
								a#nav-link(href='#')
									span.meta-nav
										| Next article
										i.fa.fa-chevron-right#icon-content(aria-hidden="true")
									|  Name next article

			div#side-content.col.s12.m3.l3.hide-on-small-and-down
				div.row
					div.col
						section.social-side.text-center
							ul
								li
									a(href='#')
										i.fa-side.fa-facebook
								li
									a(href='#')
										i.fa-side.fa-twitter
