extends ../../layouts/default

block content
	.container
		.row
			.col.s12
				h1 Purchase success page
				p paymentId: #{paymentId}
				p puchaseSchedule: #{puchaseSchedule}
				p purchaseDate : #{purchaseDate}
				p purchaseMethod: #{purchaseMethod}