extends ../../layouts/default

block content
	.container
		h3 Shopping Cart
		
		.row
			.col.s12.m12.l12
				br
				table.bordered.striped.responsive-table
					thead
						tr
							th.cart Remove
							th.cart.hide-on-small-only Image
							th.cart Item Name
							th.cart Description
							th.cart Unit Price
					tbody
						-for (var x=0; x<3; x++)
							tr
								td.cart
									div
										a.waves-effect.waves-light.btn(href='#') Remove item
								td.cart.img-shopping.hide-on-small-only
									a(href='#')
										img.responsive-img(src='../../images/articles/article-test.png')
								td.cart
									| Item name
								td.cart
									| Description
								td.cart
									| 10$
						tr
							td  
							td.hide-on-small-only
							td  
							td.cart
								strong#total Total:
							td.cart
								strong#price 20$
		.row.bot80
			.col.s12.m4.l4.left-align
				a.btn(href='#') Update cart
			.col.s12.m4.l4.cart
				a.btn(href='#') Continue shopping
			.col.s12.m4.l4.right-align
				a.btn(href='#')	Checkout