include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'hit-bodies'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(href="/styles/jquery-autocomplete/jquery.auto-complete.css", rel="stylesheet")
		link(href="/styles/site.css", rel="stylesheet")

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body

		//- HEADER

		include parts/header

		//- BODY

		block intro
			+flash-messages(messages)

			//- The content block should contain the body of your template's content
		main
			block content


		//- FOOTER
		include parts/footer

		//- JAVASCRIPT

		//- jQuery 1.11.3 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.4 (also bundled) for better performance.
		script(src='/js/jquery/jquery-3.1.1.min.js')

		//- Customise which Bootstrap javascript files are served by including
		//- them specifically here, instead of bootstrap-3.3.5.min.js
		script(src='/js/materialize/bin/materialize.min.js')

		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		//- Add scripts that are globally required by your site here.
		script(src='/js/plugins/jqueryTransit/jquery.transit.min.js')

		if section === 'contact'
			script(src="https://maps.google.com/maps/api/js?libraries=geometry&v=3.27&key=AIzaSyDPdh-2Vlfs2nkIK8VFNWjbP64Xxrj4h-g")
			script(src='/js/plugins/mapPlace/maplace.min.js')

		if section === 'product'
			script(src='/js/plugins/card/jquery.card.js')
		
		if section === 'register' || section === 'contact'
			script(src='/js/plugins/jqueryValidations/jquery.validate.min.js')
			script(src='/js/plugins/jqueryValidations/additional-methods.min.js')


		script(src='/js/plugins/jqueryAutoComplete/jquery.auto-complete.min.js')
		script(src='/js/app/application.js')
		//- Include template-specific javascript files by extending the js block
		block js