extends ../../layouts/default

block content
	.container: .jumbotron
		h1 Store get page 
			span= total
		.row
			if items
				each item in items
					.col-md-3
						.panel.panel-default
							.panel-heading= item.name
							.panel-body
								a.thumbnail
									img(src=item.images[0])
								p= item.price
