extends ../../layouts/default

block content
    .container#container_contact
        .row#main_content
            .col.m8.hide-on-small-only#map
                .row.center-align#row_map_contact
                    #gmap-styled
                .row#row_image_contact
                    span.border Constancy, dedication and sacrifice.

            .col.m4.s12
                .row.top15
                    .col.s12#side-content
                        h5.center-align Social
                        div.row#row_side-content
                            div.col.s12.text-center
                                section.social-side.text-center
                                    ul
                                        li
                                            a(href=settings.facebookUrl)
                                                i.fa-side.fa-facebook
                                        li
                                            a(href=settings.twitterUrl)
                                                i.fa-side.fa-twitter
                                        li
                                            a(href=settings.instagramUrl)
                                                i.fa.fa-instagram
                    |                     
                .row
                    .col.s12
                        h5.center-align Contact Form
                        |   
                .row#form-contact
                    form#contact-form.col.m12.s12
                        .row
                            .input-field.col.s12
                                label(for="name") Name *
                                |                         
                                input#name(type="text" placeholder="Name...", name="name", length="80", maxlength="80", data-error=".errorTxt1")
                                |             
                                div.errorTxt1
                            |                    
                            .input-field.col.s12
                                label(for="subject") Subject *
                                |                     
                                input#subject.form-input(type="text" placeholder="Subject...", name="subject", length="120", maxlength="120", data-error=".errorTxt2")
                                |             
                                div.errorTxt2
                            |                         
                            .input-field.col.s12
                                label(for="email") Email *
                                |                             
                                input#email.form-input(type="email" placeholder="Email...", name="email", length="100", maxlength="100", data-error=".errorTxt3")
                                |             
                                div.errorTxt3
                            |                                          
                            .input-field.col.s12
                                label(for="message") Message *
                                |                     
                                textarea#message.materialize-textarea(type="text" placeholder= "Message...", name="message", length="320", maxlength="320", data-error=".errorTxt4")
                                |             
                                div.errorTxt4
                        |                     
                        .row
                            .col.m12
                            p.right-align
                                input.btn.waves-effect.waves-light(type="submit", value="Send Message")
                            |                     
                            .divider.top30
                    |                     
                    .row
                        .col.m12
                            h5.left-align Other ways
                            != contactInfo
    script(type='text/javascript').
        var localAddress = !{JSON.stringify(address)};