footer.page-footer.text-center
	.container
		.row
			div.col.l4.m4.s12
				section.navigation-nav
					h5.white-text Navigation
					ul
						li.bot10: a.grey-text.text-lighten-3(href='/') Home
						li.bot10: a.grey-text.text-lighten-3(href='/store/get') Programs
						li.bot10: a.grey-text.text-lighten-3(href='/contact') Contact
			div.col.l4.m4.s12
				section.social-nav.text-center
					h5.white-text Follow me
					ul
						li
							a(href='#')
								i.fa.fa-facebook
						li
							a(href='#')
								i.fa.fa-twitter
			div.col.l4.m4.s12
				section.content-nav
					h5.white-text More information
					p.grey-text.text-lighten-4 Phone: 0000-000000
					p.grey-text.text-lighten-4 Email: hitbodies@mail.com
					p.grey-text.text-lighten-4 Address: 
			
	.footer-copyright
		.container.text-center
			| © 2017 Hit-Bodies, all rights reserved - Web developed by 
			a(href='http://www.thrifa.net/about') Thrifa group