footer.page-footer.text-center
	.container
		.row
			div.col.l4.m4.s12
				section.content-nav
					h5.white-text Footer Content
					p.grey-text.text-lighten-4 More content...
			div.col.l4.m4.s12
				section.social-nav.text-center
					h5.white-text Follow me
					ul
						li
							a(href='#')
								i.fa.fa-facebook
						li
							a(href='#')
								i.fa.fa-twitter
			div.col.l4.m4.s12
				section.navigation-nav
					h5.white-text Navigation
					ul
						li: a.grey-text.text-lighten-3(href='/') Home
						li: a.grey-text.text-lighten-3(href='/store/get') Store
						li: a.grey-text.text-lighten-3(href='/contact') Contact
	.footer-copyright
		.container.text-center
			| © 2017 Hit-Bodies, all rights reserved - Web developed by 
			a(href='http://www.thrifa.net/about') Thrifa group
			//- a.grey-text.text-lighten-4.right(href='#!') Other link