header
    div.navbar-fixed
        nav
            div.nav-wrapper
                a.brand-logo(href="/")
                .header-search-wrapper.hide-on-med-and-down.ui-widget
                    i.material-icons search
                    form(id="searchForm")
                        input.header-search-input.z-depth-2(id="inputSearch", type='text', name='Search', placeholder='Explore store', maxlength="40")

                a.button-collapse.show-on-large(data-activates='mobile-menu'): i(class="material-icons") menu
                ul.right.hide-on-small-and-down
                    li
                        if user
                            a#icon-nav.btn-floating.btn-floating-user(href='/keystone')
                                i.material-icons#menu account_circle
                        else
                            a#icon-nav.btn-floating(href='/keystone/signin')
                                i.material-icons#menu account_circle

                ul.side-nav.fixed#mobile-menu
                    h4 Menu
                        a#sidemenu
                            i.fa.fa-chevron-left#sidemenu(aria-hidden="true")
                    hr
                    li.top15: a(href='/') Home
                    li: a(href='/store/get') Programs
                    li.bot15: a(href='/contact') Contact
                    hr
                    li.top15
                        if user
                            if user.canAccessKeystone
                                a.waves-effect.waves-light.btn(href='/keystone') Dashboard
                                a.waves-effect.waves-light.btn.option-red(href='/keystone/signout') Sign Out
                            unless user.canAccessKeystone
                                a.waves-effect.waves-light.btn(href='/user/purchases') Purchases
                                a.waves-effect.waves-light.btn.option-red(href='/keystone/signout') Sign Out
                        else
                            a.waves-effect.waves-light.btn(href='/keystone/signin') Sign in
                            a.waves-effect.waves-light.btn.option-signup(href='/signup') Sign up